<div class="comment">
  <div class="content">
    <a class="author">
      <%= comment.user.first_name + ' ' + comment.user.last_name %>
    </a>
    <div class="text"><%= comment.body %></div>
  </div>
</div>
  <!-- <p><%= link_to "Delete Comment", [comment.restraunt, comment],
          :confirm => 'Are you sure?',
          :method => :delete %> -->
