<div class="comments">

  <div class="ui basic segment">
    <div class="ui comments">
      <h3 class="ui dividing header">Comments</h3>
      <%= render @restraunt.comments %>
    </div>
  </div>
  <% if logged_in? %>
  <div class="ui basic segment">
    <%= form_for([@restraunt, @restraunt.comments.build], :html => {:class=>'ui reply form'}) do |f| %>
      <div class="field">
        <%= f.text_area :body, :required => true%>
      </div>
      <%= f.submit :class => 'ui blue submit button' %>
    <% end %>
  </div>
  <% else %>
    <div class="ui basic segment">
      <a href="/login" class="positive ui button">Sign In To Comment</a>
    </div>
  <% end %>
</div>
