// Place all the styles related to the Restraunts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.restraunt {
  border: 1px solid lighten(#89959B, 30);
  padding: 16px;
  display: flex;
  flex-flow: column;
  max-width: 720px;
  margin: 64px auto 0;
  .rest-d {
    font-weight: bold;
    color: #89959B;
    display: inline-block;
    width: 172px;
  }
  .rest-img {
    position: relative;
    width: 720px;
    img {

      width: inherit;
      display: block;
    }
    .rest-name {
      color: #fff;
      font-size: 32px;
      background: #000;
      letter-spacing: 1px;
      padding: 5px;
      position: absolute;
      bottom: 32px;
      left: 0;
    }
    .rest-type {
      position: absolute;
      bottom: 0;
      color: #fff;
      background: #000;
      letter-spacing: 1px;
      padding: 2px;
    }
    .rest-rating {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 18px;
      background: #000;
      color: #fff;
      padding: 16px;
    }
  }
}

.ind-rest-container {
  border: 1px solid lighten(#89959B, 30);
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-flow: column;
  max-width: 960px;
  margin: 32px auto;
  h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
  }
  img {
    width: 960px;
  }
  .ind-rest-info {
    .col {
      width: 50%;
    }
    display: flex;
    height: 200px;
    flex-wrap: wrap;
  }
}
