<h2 class="ui center aligned icon header">
  <i class="circular trophy icon"></i>
  Become A Curator
  <div class="sub header">
    Think you've got what it takes to contribute to our list of eateries?
  </div>
  <div class="ui basic segment">
    <div class="ui animated fade button" tabindex="0">
      <div class="visible content">Tell Us Why</div>
      <div class="hidden content">
        <a href="mailto:example@example.com?subject=Flavr%20Curator">Email Us</a>
      </div>
    </div>
  </div>
</h2>
